h1 {
  font-weight: 700;
  font-size: 450px;
  margin: 10px;
  margin-bottom: 20px;
}
input{
  width: 100%;
}
.items-container{
  text-align: left;

}
.d-row
{
margin:10px 5px;
}
.d-btn
{
  min-width: 80px;
}